PORT=8109
DB_NAME=nhrs_taskforce_directory_db
MONGODB_URI=${GOVERNANCE_MONGODB_URI}
JWT_SECRET=${JWT_SECRET}
RBAC_API_BASE_URL=${RBAC_API_BASE_URL}
AUDIT_API_BASE_URL=${AUDIT_API_BASE_URL}
NOTIFICATION_API_BASE_URL=${NOTIFICATION_API_BASE_URL}
INTERNAL_SERVICE_TOKEN=${INTERNAL_SERVICE_TOKEN}
