PORT=8111
DB_NAME=nhrs_ui_theme_db
MONGODB_URI=${SUPPORT_MONGODB_URI}
JWT_SECRET=${JWT_SECRET}
NHRS_CONTEXT_HMAC_SECRET=${NHRS_CONTEXT_HMAC_SECRET}
FILE_DOCUMENT_API_BASE_URL=http://file-document-service:8102
UI_THEME_MAX_LOGO_BYTES=3145728
