PORT=8092
DB_NAME=nhrs_profile_db
MONGODB_URI=${SUPPORT_MONGODB_URI}
REDIS_URL=${REDIS_URL}
JWT_SECRET=${JWT_SECRET}
AUTH_API_BASE_URL=${AUTH_API_BASE_URL}
RBAC_API_BASE_URL=${RBAC_API_BASE_URL}
AUDIT_API_BASE_URL=${AUDIT_API_BASE_URL}
MEMBERSHIP_API_BASE_URL=http://membership-service:8093
INTERNAL_SERVICE_TOKEN=<change-me-internal-token>
