PORT=8080
DB_NAME=nhrs_gateway_db
MONGODB_URI=${SUPPORT_MONGODB_URI}
JWT_SECRET=${JWT_SECRET}
REDIS_URL=${REDIS_URL}
AUTH_API_BASE_URL=${AUTH_API_BASE_URL}
RBAC_API_BASE_URL=${RBAC_API_BASE_URL}
AUDIT_API_BASE_URL=${AUDIT_API_BASE_URL}
