PORT=8103
DB_NAME=nhrs_membership_db
MONGODB_URI=${SUPPORT_MONGODB_URI}
JWT_SECRET=${JWT_SECRET}
AUTH_API_BASE_URL=${AUTH_API_BASE_URL}
RBAC_API_BASE_URL=${RBAC_API_BASE_URL}
AUDIT_API_BASE_URL=${AUDIT_API_BASE_URL}
INTERNAL_SERVICE_TOKEN=${INTERNAL_SERVICE_TOKEN}
