PORT=8105
DB_NAME=nhrs_clinical_encounter_db
MONGODB_URI=${HEALTHDATA_MONGODB_URI}
JWT_SECRET=${JWT_SECRET}
RBAC_API_BASE_URL=${RBAC_API_BASE_URL}
AUDIT_API_BASE_URL=${AUDIT_API_BASE_URL}
HEALTH_RECORDS_INDEX_API_BASE_URL=${HEALTH_RECORDS_INDEX_API_BASE_URL}
