PORT=8093
DB_NAME=nhrs_organization_db
MONGODB_URI=${SUPPORT_MONGODB_URI}
JWT_SECRET=${JWT_SECRET}
REDIS_URL=${REDIS_URL}
RBAC_API_BASE_URL=${RBAC_API_BASE_URL}
AUDIT_API_BASE_URL=${AUDIT_API_BASE_URL}
MEMBERSHIP_API_BASE_URL=${MEMBERSHIP_API_BASE_URL}
INTERNAL_SERVICE_TOKEN=${INTERNAL_SERVICE_TOKEN}
