PORT=8108
DB_NAME=nhrs_emergency_inventory_db
MONGODB_URI=${SUPPORT_MONGODB_URI}
JWT_SECRET=${JWT_SECRET}
RBAC_API_BASE_URL=${RBAC_API_BASE_URL}
AUDIT_API_BASE_URL=${AUDIT_API_BASE_URL}
NOTIFICATION_API_BASE_URL=${NOTIFICATION_API_BASE_URL}
