PORT=8081
DB_NAME=nhrs_auth_db
MONGODB_URI=${IDENTITY_MONGODB_URI}
JWT_SECRET=${JWT_SECRET}
REDIS_URL=${REDIS_URL}
AUDIT_API_BASE_URL=${AUDIT_API_BASE_URL}
PROFILE_API_BASE_URL=${PROFILE_API_BASE_URL}
MEMBERSHIP_API_BASE_URL=${MEMBERSHIP_API_BASE_URL}
UI_THEME_API_BASE_URL=${UI_THEME_API_BASE_URL}
INTERNAL_SERVICE_TOKEN=${INTERNAL_SERVICE_TOKEN}
